
.leaflet-container {
    width: 100%;
    height: 100vh;
  }

  .margin-add-top {
    margin-top: 50px;
  }

  .login-form-margin {
    margin: 20px;
  }

  .login-form-margin-top {
    margin-top: 10px;
  }


  .underline-text{
    text-decoration: underline;
  }

  .Order-Panel {
    height: 100vh;
    width: 40vh;
    border: 3px black solid;
    position: fixed;
    z-index: 2000;
    background-color: White; 
    right: 0px
  }

  .Order-Panel-margin {
    margin: 15px;
  }